﻿.row {
    border: 1px solid grey;
}

.admin-drink-list-item img {
    width: 125px;
}
input[type="file"] {
    display: none;

}
.drink-img-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color:limegreen;
    color: white;
    border-radius: 5px;
}
#drinkName {
    width: 100%;
}
#drinkCost {
    width: 100%;
}
#drinkCount {
    width: 100%;
}